{#
/**
 * @file
 * Default theme implementation to webform confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}

{% if progress %}
  {{ progress }}
{% endif %}

<div{{ attributes.addClass('webform-confirmation container') }}>
  <div class="reverse-mobile row">
    <div class="col-lg-4 col-md-12 col-12 left-sidebar">
      <div class="w-100">
        <img class="w-100 h-auto" src="/sites/default/files/styles/large/public/2022-08/computer%20classroom-video.png?itok=5IL40zDF" width="480" height="320" alt="Thank you" loading="lazy" typeof="foaf:Image" title="Thank you for contacting American Graphics Institute" class="image-style-large">
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-12 right-sidebar">
      {% if message %}
        <div class="webform-confirmation__message">{{ message }}</div>
      {% endif %}

      {% if back %}
      <div class="webform-confirmation__back">
        <a href="{{ back_url }}" rel="prev"{{ back_attributes }}>{{ back_label }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
