<h3>{{ block_header }}</h3>

<div class="d-flex">
{% for stars in 1..average_review %}
  <div class="review-stars p-1">
    <img src="/modules/custom/agi_blocks/images/star.svg" width="25" height="25" alt="{{ category_label }} rating">
  </div>
{% endfor %}
</div>

<p class="mt-1 mb-0">{{ block_rating_text }}</p>
<p>{{ block_rating_summary_text }}</p>
<p>"{{ latest_review }}" - {{ latest_reviewer }}</p>

<a href="/reviews/{{ category_id }}/{{ category_label | clean_class }}">{{ 'See all reviews for @course'|t({ '@course': category_label }) }}</a>
