<div class="secondary-navigation d-flex justify-content-between">
  <a class="blue-button btn btn-primary" href="#toc-contents">{{ view_content_text }}</a>
  <a href="{{ view_errata_link }}" class="blue-button  btn btn-primary">{{ view_errata_text }}</a>
  {% if buy_amazon_link is not empty %}
    <a href="{{ buy_amazon_link }}" target="_blank" rel="nofollow" class="blue-button btn btn-primary">{{ buy_amazon_text }}</a>
  {% endif %}
  {% if buy_barnes_link is not empty %}
    <a href="{{ buy_barnes_link }}" target="_blank" rel="nofollow" class="blue-button btn btn-primary">{{ buy_barnes_text }}</a>
  {% endif %}
</div>
