<div class="location-title">
  <p class="m-0"><strong>{{ 'AGI Training'|t }} {{ location }}</strong></p>
</div>
<div class="location-address">
  <p class="m-0">{{ address['street'] }}</p>
  <p class="m-0">{{ address['city'] }}, {{ address['state'] }}</p>
  <p class="m-0">{{ address['zip'] }}</p>
  <p class="m-0">{{ 'USA'|t }}</p>
  <p class="m-0">{{ '(800) 851-9237'|t }}</p>
</div>
