<!-- Button trigger modal -->
<a href="#modal-online-course" data-toggle="modal" data-target="#online-modal" class="d-block">
  <img height="auto" alt="{{ bottom_text }}" src="/themes/custom/agitraining/images/live-online-classes.png" width="100%">
</a>
<p class="mt-2">{{ bottom_text }}</p>

<!-- Modal -->
<div class="modal fade" id="online-modal" tabindex="-1" role="dialog" aria-labelledby="onlineModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header py-1 border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-1">
        <video controls height="360" id="agi-training-online-courses" poster="/themes/custom/agitraining/images/agi-video-cover.png" preload="none" width="100%">
          <source src="https://d2cqpmwr4b912e.cloudfront.net/agi-training-online-courses.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>
