<div class="container">
  <div class="reverse-mobile layout row">
    <div class="col-lg-4 col-md-12 col-12 left-sidebar">
      {{ drupal_block('agi_block_request_info_image_block') }}
      {{ drupal_entity('webform', 'webform_1694') }}
      <div class="mt-4">
        {{ drupal_block('block_content:3eb74e06-f204-43c4-9f7f-c3529302d1ae') }}
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-12 right-sidebar">
      {{ drupal_view('near_me_pages', 'primary_locations') }}
      <div class="mt-3">
        {{ drupal_view('near_me_pages', 'satellite_locations') }}
      </div>
      <div class="mt-3">
        {{ drupal_view('course_in_category_snippet', 'courses_near_me') }}
      </div>
      <div class="mt-3">
        {{ drupal_view('events') }}
      </div>
    </div>
  </div>
</div>
