.block-system-breadcrumb-block {
  ol {
    background-color: white;
    padding-left: 0;
    padding-right: 0;

    li.breadcrumb-item {
      &:not(:first-child) {
        &::before {
          content: "›";
        }
      }
    }
  }
}
