fieldset.checkout-pane-billing-information {
  margin-top: 0;
}

fieldset.checkout-pane-contact-information {
  margin-bottom: 0;
}

.agi-seats-field {
  &.pc {
    .form-radios {
      display: block;
    }
  }
}

#edit-coupon-redemption-form {
  input.button {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #343a40;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin: 0;
  }
}

.agi-paypal-button {
  display: none;
}
