.field--name-field-primary-image-slides-media,
.block-field-blocknodesubjectfield-right-header-image {
  img {
    width: 100%;
    height: auto;
  }
}

.block-field-blocknodecoursefield-course-thumbnail-media {
  float: left;
}

.field--name-field-left-header-image-media,
.block-agi-block-request-info-image-block,
.field--name-field-left-header-image,
.field--name-field-location-image-media {
  img {
    width: 100%;
    height: auto;
  }
}

.field--name-field-left-header-image-media {
  .field--name-field-media-image {
    width: 100%;
  }
}

.field--name-field-course-del-icons {
  table {
    width: 100%;
  }
}

.media--type-image {
  &.media--view-mode-sidebar-left {
    .field--name-field-media-image {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.field--name-field-brafton-image-media {
  .media--type-image {
    display: block;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.field--name-body {
  .categories {
    img {
      margin-right: 0.5rem;
    }
  }
}

.field--name-body {
  .views-field-field-courses-in-category {
    max-width: 50%;

    @media only screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  .course-options {
    article {
      &.media--type-image {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
    img {
      width: auto;
      height: 32px;
    }
  }
}

.field--name-field-location-image-media {
  .field__item {
    margin-bottom: 0.5rem;
  }
}
