.checkout-pane-contact-information,
.checkout-pane-billing-information,
.checkout-pane-agi-commerce-student-info-pane,
.checkout-pane-payment-information,
.checkout-pane-coupon-redemption {
  padding: 0;

  legend {
    font-size: 1.2rem;
    float: left;
  }

  .fieldset-wrapper {
    clear: both;
    width: 100%;

    .description {
      padding: 0 15px;
    }
  }
}

.checkout-pane-contact-information {
  padding-top: 1rem;
}

.checkout-pane-billing-information {
  padding-bottom: 1rem;

  .address-container-inline,
  #edit-billing-information-profile-address-0-address-country-code {
    display: flex;
    justify-content: flex-start;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }

    .form-item {
      width: 100%;

      &:last-child {
        margin-right: 0;
      }

      .chosen-single {
        background: transparent;
        border: 0 none;
        box-shadow: unset;
        line-height: 1.5rem;
      }

      .chosen-drop {
        left: 0;
      }

      label {
        display: block;
      }
    }
  }
}

.checkout-pane-agi-commerce-student-info-pane {
  legend {
    padding: 0 15px;
  }

  & > legend {
    display: none;
  }

  .agi-seats-field {
    max-width: 100%;

    &.first,
    &.last {
      width: 50%;
      float: left;

      @media only screen and (max-width: 767px) {
        float: none;
        width: 100%;
      }
    }

    &.email {
      clear: both;
      width: 100%;
    }

    &.pc {
      legend {
        padding: 0;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.checkout-pane-agi-commerce-student-info-pane {
  padding-bottom: 1rem;
}

.checkout-pane-payment-information,
.checkout-pane-coupon-redemption {
  .fieldset-wrapper {
    legend {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
