@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf") format('truetype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format('truetype');
  font-weight: 900;
  font-display: swap;
}

@mixin blue-bullets {
  content: "\25A0";
  color: #74c8ff;
  font-weight: 700;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-right: 0.5rem;
  position: absolute;
  left: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  margin-top: 0.5rem;

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3,
  h4 {
    font-size: 1.15rem;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .container-sm,
    .container {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 575px) {
    iframe {
      width: 100%;
    }
  }

  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 1.85em;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.15rem;
    }

    h5 {
      font-size: 1.15rem;
    }
  }

  @media only screen and (max-width: 767px) {
    h3 {
      font-size: 1rem;
    }
  }

  .region-content {
    .field--type-text-long,
    .field--type-text-with-summary,
    .block-agi-block-category-additional-block,
    .view-location-list-for-category-sidebar .item-list,
    .view-all-classes-for-a-secondary-location .item-list,
    .view-course-date-detail-panel-content .views-row,
    .view-dc-book-detail .field-content,
    .view-secondary-city-classes .item-list,
    .block-field-blocknodeb-newscreated {
      ul {
        padding: 0;

        li {
          position: relative;
          margin: 0;
          list-style: none;
          color: #212529;
          padding-left: 1.25rem;

          &::before {
            @include blue-bullets;
          }
        }
      }
    }

    .field--name-field-certificate-programs {
      .field__item {
        position: relative;
        margin: 0;
        padding-left: 1.25rem;

        &::before {
          @include blue-bullets;
        }
      }
    }
  }

  @media only screen and (max-width: 992px) {
    .reverse-mobile {
      flex-direction: column-reverse;
    }
  }

  #block-agitraining-breadcrumbs {
    ol {
      &.breadcrumb {
        margin: 0;
      }
    }
  }
}

.path-frontpage {
  .region-content {
    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }
}

.bg-blue-300 {
  background: #eef8ff;
}

video {
  max-width: 100%;
  height: auto;
}
