.block-extra-field-blockquizquiztake {
  display: flex;
  justify-content: center;
  a.quiz-start-link {
    display: inline-block;
    background: #0c9cce;
    border-radius: 12px;
    padding: 15px 20px;
    border: none;
    color: #fff;
    text-transform: uppercase;
  }
}
