{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav aria-label="breadcrumb">
    <span id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</span>
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      <li class="breadcrumb-item">
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text | replace({'-': ' '}) }}</a>
        {% else %}
          {{ item.text | replace({'-': ' '}) }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
