{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

<ul class="navbar-nav justify-content-between align-items-stretch menu--main-first-level">
  {% for item in items %}
    <li class="nav-item flex-grow-1 position-static d-flex w-100 {{ item.is_expanded ? 'dropdown' }}">
      <a class="nav-item nav-link text-white py-3 text-center justify-content-center align-items-center d-flex w-100 {{ item.is_expanded ? 'dropdown-toggle' }}" href="{{ item.url }}" title="{{ item.title }}" {{ item.is_expanded ? attributes.setAttribute('data-toggle', 'dropdown') }}>
        {{ item.title }}
      </a>
      {% if item.below %}
        {% set second_level_items = item.below %}

        <ul class="dropdown-menu w-100 border-0 rounded-0 m-0 p-3 menu--main-second-level">
          {% for second_level_item in second_level_items %}
            <li class="first leaf position-absolute">
              {{ link(second_level_item.title, second_level_item.url, { 'class': 'dropdown-menu-title' }) }}
            </li>
            {% if second_level_item.below %}
              {% set third_level_items = second_level_item.below %}

              {% for third_level_item in third_level_items %}
                <li class="expanded pr-5">
                  <span class="nolink d-none">{{ third_level_item.title }}</span>

                  {% if third_level_item.below %}
                    {% set fourth_level_items = third_level_item.below %}

                    <ul class="nav navbar-nav flex-column">
                    {% for fourth_level_item in fourth_level_items %}
                      <li class="menu-item p-0">
                        {{ link(fourth_level_item.title, fourth_level_item.url) }}
                      </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
<div class="d-block d-lg-none menu--main-secondary mb-3">
  <hr class="mx-5 border-white" />
  {{ drupal_menu('secondary') }}
</div>
